@font-face {
  font-family: "Noto Sans TC";
  src: url(./fonts/NotoSansTC-Medium.otf);
}

@font-face {
  font-family: "Noto Sans SC";
  src: url(./fonts/NotoSansSC-Regular.otf);
}

@font-face {
  font-family: "Noto Sans SC";
  src: url(./fonts/NotoSansSC-Black.otf);
}

@font-face {
  font-family: "Noto Sans SC";
  src: url(./fonts/NotoSansSC-Black.otf);
}

@font-face {
  font-family: "Noto Sans SC";
  src: url(./fonts/NotoSansSC-Regular.otf);
}

@font-face {
  font-family: "Noto Sans SC";
  src: url(./fonts/NotoSansSC-Medium.otf);
}

@font-face {
  font-family: "Inter Tight";
  src: url(./fonts/InterTight-VariableFont_wght.ttf);
}
