/* padding */
// left and right padding
.pw-xs {
  padding: 0 1%;
}
.pw-sm {
  padding: 0 2%;
}
.pw-md {
  padding: 0 3%;
}
.pw-lg {
  padding: 0 4%;
}
.pw-xl {
  padding: 0 5%;
}
// top and bottom padding
.ph-xs {
  padding: 1% 0;
}
.ph-sm {
  padding: 2% 0;
}
.ph-md {
  padding: 3% 0;
}
.ph-lg {
  padding: 4% 0;
}
// single side padding
.pt-xs {
  padding-top: 1%;
}
.pt-sm {
  padding-top: 2%;
}
.pt-md {
  padding-top: 3%;
}
.pt-lg {
  padding-top: 4%;
}

.pb-xs {
  padding-bottom: 1%;
}
.pb-sm {
  padding-bottom: 2%;
}
.pb-md {
  padding-bottom: 3%;
}
.pb-lg {
  padding-bottom: 4%;
}

.pl-xs {
  padding-left: 1%;
}
.pl-sm {
  padding-left: 2%;
}
.pl-md {
  padding-left: 3%;
}
.pl-lg {
  padding-left: 4%;
}

.pr-xs {
  padding-right: 1%;
}
.pr-sm {
  padding-right: 2%;
}
.pr-md {
  padding-right: 3%;
}
.pr-lg {
  padding-right: 4%;
}

/* margin */
// left and right margin
.mw-xs {
  margin: 0 1%;
}
.mw-sm {
  margin: 0 2%;
}
.mw-md {
  margin: 0 3%;
}
.mw-lg {
  margin: 0 4%;
}
// top and bottom margin
.mh-xs {
  margin: 1% 0;
}
.mh-sm {
  margin: 2% 0;
}
.mh-md {
  margin: 3% 0;
}
.mh-lg {
  margin: 4% 0;
}
// single side margin
.mt-xs {
  margin-top: 1%;
}
.mt-sm {
  margin-top: 2%;
}
.mt-md {
  margin-top: 3%;
}
.mt-lg {
  margin-top: 4%;
}

.mb-xs {
  margin-bottom: 1%;
}
.mb-sm {
  margin-bottom: 2%;
}
.mb-md {
  margin-bottom: 3%;
}
.mb-lg {
  margin-bottom: 4%;
}

.ml-xs {
  margin-left: 1%;
}
.ml-sm {
  margin-left: 2%;
}
.ml-md {
  margin-left: 3%;
}
.ml-lg {
  margin-left: 4%;
}

.mr-xxs {
  margin-right: 0.5%;
}
.mr-xs {
  margin-right: 1%;
}
.mr-sm {
  margin-right: 2%;
}
.mr-md {
  margin-right: 3%;
}
.mr-lg {
  margin-right: 4%;
}
